@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
.dm-sans-300 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.dm-sans-600-normal {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dm-sans-600-italic {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.text-shadow-2{
  text-shadow: 1px 2px #e9d5ff;
}

/* Menu Desplegable */
.nav{
  width: 100%;
}

.list{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
}

/* .menu-container {
  position : relative;
}

#menu {
  position: absolute;
  bottom: -163%;
  display : none;
}

#menu.menu-active {
  display : block;
} */

.nav-link--inside:hover{
  background: #F6F8FA;
} 

/* Main (Section 1) */
.h-section{
  height: 93vh;
}

.text-shadow{
  text-shadow: 2px 4px #c6bceb;
}

.text-position{
  top: -45%;
}

/* Bottom (Cotizar) */
.btn-cotizar {
  border: none;
  position: relative;
  width: 250px;
  height: 85px;
  padding: 0;
  z-index: 2;
  top: 40vh;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
  -webkit-mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(8px)
}

.btn-cotizar:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0 0 0 white;
  transition: all 2s ease;
}

.btn-cotizar span {
  position: absolute;
  width: 100%;
  font-size: 15px;
  left: 50%;
  top: 39%;
  letter-spacing: 3px;
  text-align: center;
  transform: translate(-50%,-50%);
  color: black;
  transition: all 2s ease;
}

.btn-cotizar:hover span {
  color: white;
}

.btn-cotizar:before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.btn-cotizar:hover:before {
  width: 100%;
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-b-2:hover {
  border-bottom-width: 2px;
}

/* Bottom Submit (Form) */
.btn-submit {
  /* --purple-700: #c4b5fd; */
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;

  transform-origin: center;

  padding: 0.5rem 1rem;
  background: #d8b4fe;
  /* background-color: #8b5cf6; */

  border: 2px #a855f7 solid;
  border-radius: var(--border_radius);
  /* transform: scale(calc(1 + (var(--active, 0) * 0.1))); */

  transition: transform var(--transtion);
}

.btn-submit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--purple-700);

  border-radius: var(--border_radius);
  box-shadow: white;

  transition: all var(--transtion);
  z-index: 0;
}

.btn-submit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  /* background-color: hsla(260 97% 61% / 0.75); */
  /* background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, #a855f7 0px, transparent 50%),
    radial-gradient(at 22% 91%, #a855f7 0px, transparent 50%); */
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.btn-submit:is(:hover, :focus-visible) {
  --active: 1;
}
.btn-submit:active {
  transform: scale(1);
}

.btn-submit .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.btn-submit .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  /* background-color: white;

  mask: linear-gradient(transparent 0%, white 120%); */
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.btn-submit .sparkle {
  position: relative;
  z-index: 10;

  width: 1.75rem;
}

.btn-submit .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.btn-submit:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.btn-submit .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.btn-submit .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.btn-submit .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

/* Element Text btn-submit (Form) */
.btn-submit .text_button {
  position: relative;
  z-index: 10;

  background-clip: text;

  font-size: 17px;
  color: #a855f7;
}

/* Bottom Delete (From) */
/* .bottom-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 34px;
  width: 112px;
  border: #FF342B 2px solid;
  background: #ff362b34;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 1px 6px 0 #ff362b34, 0 1px 2px -1px #ff362b34;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #FF342B;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.bottom-delete:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
} */

/* Errores */
#mostrarErrores{
  background-color: #ff362b34;
  border:#FF342B 2px solid;
}

#mostrarErrores{
  color: #FF342B;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}